@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}
html,body{
    scroll-behavior: smooth;
    height: 100%;
}


.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: 0 auto;
}

nav a{
    color: #fff;
    transition: all 0.4s;
}

nav a:hover{
    color: crimson;
    text-decoration: none;
}

/* Navigation starts */

nav{
    position: absolute;
    width: 100%;
    font-family: 'Ubuntu';
}

nav .logo span{
    color: crimson;
}

nav .max-width{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li{
    list-style: none;
    display: inline-block;
    margin-left: 2rem;
    margin-top: 1rem;
}

ul li:hover{
    color: crimson;
}

.menu-btn{
    display: none;
    font-size: 23px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.menu-btn:hover{
    color: crimson;
}


/* Navigation ends */

/* Home starts */

.back-top{
    position: fixed; 
    right: 1.8rem; 
    bottom: 1.5rem;
}

.back-top a{
    color: crimson; 
    font-size: 1.5rem;
    z-index: 5;
}

.home{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center top;
    min-height: 100%;
    color: #fff;
    font-family: ;
    font-family: 'Ubuntu';
}

.home-content{
    padding-top: 16rem;
}


.home-content span{
    color: crimson;
}

.home-content h1{
    font-size: 3.5rem;
    font-weight: 600;
}

.home-content h2{
    font-size: 2.6rem;
}
.home-content h3{
    font-size: 1.8rem;
}

.home-content button{
    background-color: crimson;
    font-size: 1rem;
    border: 2px solid crimson;
    color: #fff;
    border-radius: 6px;
    padding: 0.4rem 1rem;
    cursor: pointer;
    margin: 1rem 0;
    transition: all 0.4s;
    font-family: 'Ubuntu';
}

.home-content button:hover{
    color: crimson;
    background: none;
}

/* Home ends */

/* About section starts */

.about-title{
    font-family: 'Ubuntu';
    position: relative;
    margin-bottom: 3rem;
}

.about-title::before{
    content: "";
    width: 12rem;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.about-title::after{
    content: "Who am I?";
    position: absolute;
    bottom: -25px;
    z-index: 2;
    padding: 0.2rem;
    transform: translateX(-50%);
    background-color:white;
    color: crimson;
    left: 50%;
    font-weight: bold;
}

.about span{
    color: crimson;
}

.about button, .pcontent button{
    background-color: crimson;
    border: 2px solid crimson;
    border-radius: 6px;
    color: #fff;
    padding: 0.4rem 1rem;
    cursor: pointer;
    transition: all 0.4s;
    font-family: 'Ubuntu';
    font-size: 1rem;
}

.about button:hover, .pcontent button:hover{
    color: crimson;
    background: none;
}

/* About section ends */

/* My skills section starts */
.skill{
    background: black;
    color: #fff;
}

.skill-title::before{
    content: "";
    width: 12rem;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.skill-title::after{
    content: "What I know?";
    position: absolute;
    bottom: -25px;
    z-index: 2;
    padding: 0.2rem;
    transform: translateX(-50%);
    background-color:black;
    color: crimson;
    font-weight: bold;
    left: 50%;
}

.skill span{
    color: crimson;
    font-size: 3.3rem;
    margin: 1rem 0;
}

.skill .box{
    background-color: #222222;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.4s;
}

.skill .box:hover{
    background-color: crimson;
    transform: scale(1.05);
}

.skill .box:hover span{
    color: white;
}

.lefthead{
    font-weight: 700;
    font-size: 1.4rem;
}

.right-skill span{
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
}

.line{
    height: 5px;
    width: 100%;
    background-color: gray;
    position: relative;
}

.line::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 93%;
    background-color: crimson;
}

.css::before{
    width: 80%;
}

.js::before{
    width: 50%;
}

.mysql::before{
    width: 20%;
}


/* My skills section ends */

/* Project section starts */

.project-title::before{
    content: "";
    width: 12rem;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.project-title::after{
    content: "What I had done?";
    position: absolute;
    bottom: -25px;
    z-index: 2;
    padding: 0.2rem;
    transform: translateX(-50%);
    background-color:white;
    color: crimson;
    font-weight: bold;
    left: 50%;
}

.pbox{
    background-color: #f7f7f7;
    cursor: pointer;
    transition: all 0.4s;
}

.pbox:hover{
    transform: scale(1.05);
}

.pcontent h2{
    color: black;
}



.project img{
    height: 20rem;
    object-fit: cover;
    width: 100%;
}

/* Project section ends */

/* Footer section starts */

footer{
    padding: 2rem 0;
    background-color: black;
    color: #fff;
    text-align: center;
}

footer .social span{
    margin: 0 0.4rem;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.4s;
}
footer span:hover{
    color: crimson;
}

footer a{
    color: #fff;
}

.footer-content{
    margin-top: 0.6rem;
}

footer p span{
    color: crimson;
    font-weight: bolder;
}

/* Footer section ends */

/* Media Queries starts */

@media only screen and (max-width:980px){
    .max-width{
        padding: 0 40px;
    }

    .menu-btn{
        display: block;
        z-index: 1;
    }

    .menu-btn span.active::before{
        content: "\f00d";
    }

    .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: black;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 70px;
        transition: all 0.4s;
    }

    .menu.active{
        left: 0;
    }


    .menu li{
        display: block;
    }

    .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 1.8rem;
    }

    .skill h3{
        font-size: 1rem;
    }

    .skill p{
        font-size: 0.8rem;
    }

    

}

@media only screen and (max-width:760px){
    
    .home-content h1{
        font-size: 2.2rem;
    }
    .home-content h2{
        font-size: 1.7rem;
    }
    .home-content h3{
        font-size: 1.3rem;
    }

    .center{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .home-content{
        padding-top: 23rem;
    }

    .skill h3{
        font-size: 1.5rem;
    }

    .skill p{
        font-size: 1rem;
    }

    
}

/* Media Queries ends */
